    body, html {
        height: 100%;
    }

    .barra1, .barra2, .barra3 {
        width: 35px;
        height: 2px;
        background-color: white;
        margin: 6px;
        transition: 0.4s;
    }
    .change .barra1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-5px, 4px);
    }
      
    .change .barra2 {
        opacity: 0;
    }
      
    .change .barra3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-7px, -7px);
    }

    .change .barralateral{
        visibility: visible;
        width: 200px;
    }

    .parallax {
        /* The image used */
        background-image: url("http://2.bp.blogspot.com/-csCgQ1tXaHg/TkYWPtpSVvI/AAAAAAAAC-k/Czn0K-6DXOo/s1600/cool+hd+wallpapers+1.jpg");
        
        /* Full height */
        height: 25%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
      
    .barralateral {
        position: fixed;
        visibility: hidden;
        padding: 0;
        width: 0px;
        background-color: #6A66A3;
        position: fixed;
        height: 100%;
        transition: 0.5s;
        overflow-x: hidden;
        z-index: 1;
    }
    
    .barralateral a {
        visibility: inherit;
        background-color: #84A9C0;
        text-align: center;
        display: block;
        color: white;
        padding: 5px;
        text-decoration: none;
    }
    
    .barralateral a:hover{
        background-color: #494b70;
        border: solid 1px #CCC;
        -moz-box-shadow: 1px 1px 5px #999;
        -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 0px 0px 10px #ffffff;
    }

    .top-barra {
        width: 100%;
        float: none;
        height: 45px;
        background-color: #542E71;
    }

    .min {
        height: 90%;
    }

    a#menu {
        left: 15px;
        padding-top: 7px;
        color: white;
    }

    a#menu:hover {
        color: white;
    }

    .icon:hover{
        background-color: white;
    }

    .conteudo {
        transition: 0.5s;
        display: none;
    }
    .conteudo a{
        font-size: 25px;
        cursor: pointer;
    }

    .icon {
        margin-left: 10px;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        font-size: 20px;
        width: fit-content;
        float: left;
        border-radius: 10px;
        text-decoration: none;
    }

    div#todosEventos{
        display: none;
    }
    
    div .icon > #menu:hover {
        text-decoration: none;
    }
    .centro{
        text-align: center;
        font-weight: bolder;
    }

    .backperfil{
        display: block;
        height: 200px;
        width: 100%;
        visibility: inherit;
        background-color: #6A66A3;
    }
  
    .nome {
        padding-top: 15px;
        text-align: center;
        color: #fff;
    }

    .perfil{
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        visibility: inherit;
        width: inherit;
        height: inherit;
        border-radius: 50%;
    }

    img.logo {
        margin-top: 4px;
        margin-right: 10px;
        float: right;
        height: 40px;
        width: 40px;
    }       

    a.direita {
        text-decoration: none;
        margin-right: 100px;
        padding-top: 10px;
        float: right;
        color: white;
    }



    